* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inicio {
    min-height: 100vh;
    background: #0b7dbc;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* Faixas */
.faixa-topo,
.faixa-baixo {
    width: 100%;
    height: 25px;
    background: #9c52aa;
}

.faixa-baixo {
    position: absolute;
    bottom: 0;
}

/* Título */
.titulo {
    margin-top: 40px;
    color: #d84d9b;
    font-size: 4rem;
    font-family: cursive;
}

.texto {
    margin-top: 170px;
    color: #6C3BAA;
    font-size: 2rem;
    font-family: cursive;
    text-align: center;
}

.textinho {
    margin-top: 30px;
    color: #6C3BAA;
    font-size: 1.5rem;
    font-family: serif;
    text-align: center;
}

.tituloInfoGato {
    margin-top: 40px;
    color: #d84d9b;
    font-size: 2rem;
    font-family: cursive;
}

/* Área dos cartões */
.botoes {
    display: flex;
    gap: 40px;
    margin-top: 50px;
}

/* Cartões */
.botao-menu {
    width: 170px;
    height: 170px;
    background: #a553b4;
    border: 4px solid #7f3e97;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding-top: 10px;

    color: #5b4278;
    font-size: 14px;
    font-weight: bold;
    text-align: center;

    cursor: none;
    transition: 0.3s;
}

.botao-menu:hover {
    background: #b761c7;
    transform: scale(1.05);
}

.botoesLogin {
    margin-top: 30px;
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.botao-login {
    width: 90px;
    height: 60px;
    background: #a553b4;
    border: 4px solid #7f3e97;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #5b4278;
    font-weight: bold;
    text-decoration: none;

    cursor: none;
    transition: 0.3s;
}

.botoesLogin a {
    text-decoration: none;
}

.botao-cadastro {
    cursor: none;
    transition: 0.3s;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70px;
    height: 60px;
    background: #a553b4;
    border: 4px solid #7f3e97;
}

.botao-cadastro1 {
    cursor: none;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;

    width: 140px;
    height: 100px;
    background: #a553b4;
    border: 4px solid #7f3e97;
}


.botaoDeClicarNoGato {
    margin-top: 130px;
    margin-bottom: 130px;

    display: flex;
    justify-content: center;
    align-items: center;


    width: 290px;
    height: 180px;
    background: #a553b4;
    border: 4px solid #7f3e97;
}



/* Remove o estilo padrão do Link */
.botoes a {
    text-decoration: none;
}


/* Esconde cursor padrão */
body {
    cursor: none;
}

/* Patinha que segue o mouse */
#cursorPaw {
    position: fixed;
    width: 70px;
    height: 70px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

/* Patinhas criadas ao clicar */
.paw {
    position: fixed;
    width: 70px;
    height: 70px;
    pointer-events: none;
    animation: sumir 2s forwards;
    z-index: 9998;
}

/* Dedinhos */
.toe {
    width: 16px;
    height: 20px;
    background: pink;
    border-radius: 50%;
    position: absolute;
}

.toe1 {
    top: 5px;
    left: 8px;
}

.toe2 {
    top: 0;
    left: 26px;
}

.toe3 {
    top: 5px;
    left: 44px;
}

.toe4 {
    top: 20px;
    left: 54px;
}

/* Almofada */
.pad {
    width: 38px;
    height: 42px;
    background: pink;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 18px;
}

/* Animação */
@keyframes sumir {
    0% {
        transform: scale(0.5) rotate(0deg);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    100% {
        transform: scale(1.5) rotate(25deg);
        opacity: 0;
    }
}

/*Parte do cadastro*/

.body {
    margin: 0;
    background-color: #a7a0e8;
    font-family: Arial, sans-serif;
}

.pagina-doador {
    padding: 20px;
}


.formulario {
    display: flex;
    gap: 20px;
}

.foto {
    margin-top: -200px;
    margin-left:699px;

    display: flex;
    justify-content: center;
    align-items: center;


    width: 180px;
    height: 270px;
    background: #a553b4;
    border: 4px solid #7f3e97;
}

.campos {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.campos input {
    width: 120px;
    height: 25px;
    border: 2px solid #4c5cff;
    padding-left: 5px;
    font-size: 18px;
    background: #f5f5f5;
}

.status {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.voltar {
    margin-top: 5dvh;

    width: 65px;
    height: 50px;
    background: #a553b4;
    border: 4px solid #7f3e97;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding-top: 10px;

    color: #5b4278;
    font-size: 14px;
    font-weight: bold;
    text-align: center;

    cursor: none;
    transition: 0.3s;
}

.palavras {
    margin-top: 25px;
    width: 160px;
    height: 200px;
    background-color: #6d4a96;
    border-radius: 0.375rem;
    /* rounded-md */
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1),
        0 2px 4px rgba(255, 255,
            255, 0.06);
    /* shadow-md + sombra branca */
    color: black;
    padding: 0.5rem;
    /* p-2 */
    overflow: auto;
}

.container {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #0369a1;
}

form {
    display: flex;
    gap: 20px;
}

.listaGato {
    margin-top: 50px;

    width: 190px;
    height: 290px;
    background: #a553b4;
    border: 4px solid #7f3e97;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding-top: 10px;

    color: #5b4278;
    font-size: 14px;
    font-weight: bold;
    text-align: center;

    cursor: none;
    transition: 0.3s;
}

.listaGato2 {
    margin-top: 180px;

    width: 790px;
    height: 160px;
    background: #a553b4;
    border: 4px solid #7f3e97;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding-top: 20px;

    color: #5b4278;
    font-size: 14px;
    font-weight: bold;
    text-align: center;

    cursor: none;
    transition: 0.3s;
}